#toolbar {
  min-height: 64px;
  max-height: 64px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;

  .toolbar-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 0 20px;

    &:first-child {
      justify-content: flex-start;
      padding: 0;

      button {
        padding: 0 25px;
      }
    }

    &:last-child {
      justify-content: flex-end;
      padding: 0;
    }

    #homeSection {
      display: flex;
      align-items: center;
      cursor: pointer;
      -webkit-box-shadow: 0 0 0 !important;
      -moz-box-shadow: 0 0 0 !important;
      box-shadow: 0 0 0 !important;
      background: transparent;
      color: inherit;
      padding: 0 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }

      &:focus {
        outline-color: transparent;
      }
    }
  }

  .mat-headline,
  .mat-title {
    margin: 0;
  }
}
